
.monsoon {
  padding: 40px;
  float: right;
  display: inline;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: white;
 }
 .monsoon-wrap{
   vertical-align: center;
   position: relative;
   
 }
.beams {
  padding: 40px;
  float: left;
  display: inline-block;
  background-color: dimgray;
  color: white;
}
.move {
  padding: 40px;
  float: right;
  display: inline-block;
  background-color: silver;
  color: white;
  background-image: linear-gradient(dimgray, silver);
}
Carousel {
  background-image:linear-gradient(dimgray, silver) ;
  text-align: center;
}
